header(class="header")
    div(class="container")
        div(class="row align-items-center")
            div(class="col-6")
                a(href="/")
                    svg(
                        xmlns='http://www.w3.org/2000/svg',
                        version='1.1',
                        fill-rule='evenodd',
                        viewBox="0 0 150.76877 211.64685"
                        class="logo"
                    )
                        path(
                            d='m 62.39488,32.891953 c -0.816,1.0154 -1.963,1.0885 -2.882,0.1686 -5.321,-4.2885 -8.896,-4.8305 -12.65,-4.3243 -2.136,0.2884 -3.666,1.3879 -5.268,2.6912 4.438,1.4948 6.449,4.2124 7.459,7.8375 l 3.594,141.071897 c 0.025,0.48 -0.934,0.605 -1.379,0.04 -21.9189,-16.801 -33.8231,-41.342 -35.9947,-74.76 -3.4704,-28.524997 6.0026,-69.133597 28.0467,-86.727597 10.305,-8.5108 27.54,-11.8932997 43.478,-0.0164 -8.588,2.1731 -21.392,10.8221 -24.404,14.0191 z m -45.0759,-3.1507 c -24.6960002,39.1156 -19.4901002,90.189597 -5.9817,117.433597 7.2488,17.027 26.6176,37.968 40.1996,41.755 -0.968,8.32 -3.184,16.711 -9.026,22.263 l 0.474,0.454 c 6.646,-0.082 12.967,-3.133 18.742,-9.858 5.256,6.09 13.162,9.592 19.604,8.817 l 0.187,-0.51 c -4.015,-2.536 -7.659,-9.49 -9.789,-17.698 7.675,-0.265 15.175,-2.449 22.503,-6.55 22.951,-13.868 36.501,-38.086 34.438,-58.381 l -17.593,10.084 c 0.804,7.644 0.765,15.245 -1.916,22.715 -7.568,16.733 -23.396,27.055 -39.074,26.268 -2.125,-16.697 -1.916,-33.965 -2.439,-51.033 -0.968,-31.559 -3.796,-63.421997 -2.677,-96.344297 6.586,-6.3253 21.681,-13.04 29.904,-13.0221 6.448,5.8753 11.891,15.4046 11.848,28.1984 l 8.362,-0.4008 c 0.686,-9.662 -3.6,-22.8497 -7.958,-27.6509 14.025,1.9981 23.31,13.1201 27.124,23.797 6,12.4995 5.094,34.7817 -0.314,44.8177 -5.275,11.296997 -15.87,23.455997 -31.671,22.072997 -8.472,-0.707 -17.941,-7.18 -24.755,-17.981997 -2.859,-3.468 -6.834,0.809 -4.164,4.208997 4.377,6.154 11.303,16.011 24.679,20.603 13.291,4.097 26.671,0.278 35.143,-8.121 11.871,-11.443 17.681,-25.816997 17.433,-43.119997 1.37,-18.2628 -5.768,-35.8578 -18.711,-46.858 -14.693,-10.836 -26.908,-9.4805 -33.095,-9.2652 -21.985,-24.0534997 -60.365,-23.4000997 -81.4769,13.3066 z'
                            style='stroke:none; fill:#222222',
                        )

            div(class="col-6")
                div(class="container")
                    div(class="row flex-column align-items-end")
                        button(id="mute-button", class="audio-bars")
                            div(class="container")
                                div(class="row align-items-center ")
                                    span(class="bar")
                                    span(class="bar")
                                    span(class="bar")
                                    span(class="bar")
                                    span(class="bar")