nav(class="nav")
    div(class="container")
        div(class="row")
            div(class="col-6")
                a(href="/")
                    svg(
                        xmlns='http://www.w3.org/2000/svg',
                        version='1.1',
                        fill-rule='evenodd',
                        viewBox='0 0 283.465 283.465',
                        class="logo"
                    )
                        path(d='M 128.744 68.8001C 127.928 69.8155 126.781 69.8886 125.862 68.9687C 120.541 64.6802 116.966 64.1382 113.212 64.6444C 111.076 64.9328 109.546 66.0323 107.944 67.3356C 112.382 68.8304 114.393 71.548 115.403 75.1731L 118.997 216.245C 119.022 216.725 118.063 216.85 117.618 216.285C 95.6991 199.484 83.7949 174.943 81.6233 141.525C 78.1529 113 87.6259 72.3914 109.67 54.7974C 119.975 46.2866 137.21 42.9041 153.148 54.781C 144.56 56.9541 131.756 65.6031 128.744 68.8001zM 83.6681 65.6494C 58.9721 104.765 64.178 155.839 77.6864 183.083C 84.9352 200.11 104.304 221.051 117.886 224.838C 116.918 233.158 114.702 241.549 108.86 247.101L 109.334 247.555C 115.98 247.473 122.301 244.422 128.076 237.697C 133.332 243.787 141.238 247.289 147.68 246.514L 147.867 246.004C 143.852 243.468 140.208 236.514 138.078 228.306C 145.753 228.041 153.253 225.857 160.581 221.756C 183.532 207.888 197.082 183.67 195.019 163.375L 177.426 173.459C 178.23 181.103 178.191 188.704 175.51 196.174C 167.942 212.907 152.114 223.229 136.436 222.442C 134.311 205.745 134.52 188.477 133.997 171.409C 133.029 139.85 130.201 107.987 131.32 75.0647C 137.906 68.7394 153.001 62.0247 161.224 62.0426C 167.672 67.9179 173.115 77.4472 173.072 90.241L 181.434 89.8402C 182.12 80.1782 177.834 66.9905 173.476 62.1893C 187.501 64.1874 196.786 75.3094 200.6 85.9863C 206.6 98.4858 205.694 120.768 200.286 130.804C 195.011 142.101 184.416 154.26 168.615 152.877C 160.143 152.17 150.674 145.697 143.86 134.895C 141.001 131.427 137.026 135.704 139.696 139.104C 144.073 145.258 150.999 155.115 164.375 159.707C 177.666 163.804 191.046 159.985 199.518 151.586C 211.389 140.143 217.199 125.769 216.951 108.466C 218.321 90.2032 211.183 72.6082 198.24 61.608C 183.547 50.772 171.332 52.1275 165.145 52.3428C 143.16 28.2893 104.78 28.9427 83.6681 65.6494z', style='stroke:none; fill:#000000')

            div(class="col-6")
                div(class="container")
                    div(class="row flex-column align-items-end")
                        span(class='menu')